#scrollspyHeading1{
    color: lightblue;
    font-size: xx-large;
}

#scrollspyHeading2{
    color: lightblue;
    font-size: xx-large;
}

#scrollspyHeading3{
    color: lightblue;
    font-size: xx-large;
}

#scrollspyHeading4{
    color: lightblue;
    font-size: xx-large;
}

#scrollspyHeading5{
    color: lightblue;
    font-size: xx-large;
}

#scrollspyHeading6{
    color: lightblue;
    font-size: xx-large;
}

p{
    color: lightblue;
    font-size: large;
}

#Linkedin{
    color: lightblue;
}

#Github{
    color: lightblue;
}